<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Geekjob.co | Recruiting made easy</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/home.css" rel="stylesheet">
</head>

<body class="align">

 <form class="form-wrapper cf" method="get" action="/search">
    <input type="text" placeholder="" required id="i" name="q">
    <button type="submit">Search</button>
</form>
<div class="byline"><strong>Search over one millon best talents in Indonesia</strong></div>
<script type="text/javascript" src="/assets/rotating.placeholder.js"></script>
</body>
</html>
